In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Calculate the total number of schools
number_of_schools = len(school_data_complete.value_counts('school_name'))
print (number_of_schools)

15

In [6]:
# Calculate the total number of students
number_of_students = len(school_data_complete.value_counts('Student ID'))
print (number_of_students)

39170

In [7]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

In [8]:
# Calculate the average math score
avg_math = school_data_complete['math_score'].mean()

In [9]:
# Calculate the average reading score
avg_read = school_data_complete['reading_score'].mean()

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)
pass_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
per_math = len(pass_math)/ number_of_students * 100

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
pass_read = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
per_read = len(pass_read)/ number_of_students * 100

In [12]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_overall = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/number_of_students*100

# District Summary

In [13]:
district_summary = pd.DataFrame({"Number of Schools": number_of_schools,
                                "Number of Students": f"{number_of_students:,}",
                                "Total Budget": f"${total_budget:,.2f}",
                                "Average Math Score": avg_math,
                                "Average Reading Score": avg_read,
                                "% Passing Math": per_math,
                                "% Passing Reading": per_read,
                                "% Overall Passing Rate": pass_overall}, index=[0])

In [14]:
district_summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [15]:
# Group by school name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']
total_student = school_name['Student ID'].count()
total_school_budget = school_data.set_index('school_name')['budget']
budget_per_student = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])
average_math_score = school_name['math_score'].mean()
average_reading_score = school_name['reading_score'].mean()
pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100

In [32]:
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": pass_math_percent,
    "% Passing Reading": pass_read_percent,
    "% Overall Passing": overall_pass
})


#formatting
school_summary.style.format({"Total Students": "${:,,}",
                          "Total School Budget": "${0:,.0f}",
                          "Per Student Budget": "{:}",
                          'Average Math Score': "{:}", 
                          'Average Reading Score': "{:}", 
                          "% Passing Math": "{:}", 
                          "% Passing Reading": "{:}"})
school_summary

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,652.0,3022020,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,581.0,248087,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,600.0,1056600,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,583.0,1049400,83.682222,83.955000,93.333333,96.611111,90.333333

# Top Performing Schools (By % Overall Passing)

# Bottom Performing Schools (By % Overall Passing)

# Math Scores by Grade

# Reading Score by Grade

# Scores by School Spending

# Scores by School Size

# Scores by School Type